<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <!--Enlace de header-->
    <%- include('partials/head') %>
</head>
<body>

    <!--Enlace a barra de navegación-->
    <%- include('partials/navigation') %>
    
    <!--Texto principal-->
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">ACERCA DE</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur repellendus provident ex at nisi quibusdam incidunt ut a nulla iusto libero suscipit error dolore vitae corporis quos iure sit assumenda maiores asperiores ea, repellat quas amet. Quod esse tempora ad mollitia tenetur ea corporis expedita animi dolor ducimus maiores rerum nulla vitae porro, ipsam nostrum consectetur cum reiciendis rem quibusdam. Ad repellat asperiores distinctio, veritatis culpa omnis. Corrupti accusantium ab quisquam delectus porro placeat commodi beatae voluptates animi rem natus tempore odio illum ex illo dicta, esse voluptatibus earum in quia incidunt mollitia? Amet, consequuntur nisi, similique consequatur eius temporibus earum sequi itaque enim debitis facilis magnam doloribus voluptatum cum dolorem magni, ipsa totam nihil odit laborum repellendus quos quia! Animi eligendi ex minus nesciunt officiis at officia tenetur minima itaque quam asperiores eveniet ad optio atque incidunt doloribus sunt, reiciendis, numquam possimus totam aspernatur, quasi magni expedita. Ab eum voluptatem at vel ut expedita tenetur laboriosam dicta? Fugiat architecto facere, dolorem velit quae maiores nisi labore minus repellendus ex dolore aut et aperiam delectus excepturi, obcaecati molestias dolores. Necessitatibus ab, velit odit similique distinctio expedita delectus asperiores fugiat, facere sit optio itaque blanditiis voluptatibus consequuntur enim non tempora eum consectetur, fugit sunt quas animi quam quidem quo? Quas error necessitatibus consequatur cumque nesciunt molestiae quo ad, doloremque natus labore eveniet ipsa hic, libero est neque corporis temporibus asperiores rem. Exercitationem repudiandae dolorum delectus ex inventore ducimus sequi eveniet provident unde modi ab, quia, animi quaerat dolor nam officia qui? Magni laboriosam labore culpa quos natus consequuntur porro quis totam iusto, iure magnam hic voluptates, laborum voluptatem adipisci nostrum eum facilis illum amet commodi voluptatibus nisi. Explicabo aliquam, repellendus molestias dolores voluptates dolore doloribus rem, deserunt labore totam cupiditate sint voluptatibus? Nesciunt perferendis suscipit optio cumque earum dolore rerum aut.</p>
        </section>
    </main>

   <!--Enlace del footer-->
    <%- include('partials/footer') %>

</body>
</html>
